@charset "utf-8";

* {
  box-sizing: border-box;
}

@page {
  size: 148mm 210mm;
}
@page: left {
  margin-block: 15mm;
  margin-inline: 16mm 18.25mm;
}
@page: right {
  margin-block: 15mm;
  margin-inline: 18.25mm 16mm;
}

:root {
  font-size: 13Q;
  line-height: 24Q, 
  text-spacing: auto;
  widow: 1;
  orphans: 1;
}  

p {
  font-size: 13Q;
  line-height: 24Q;
  text-align: justify;
  text-indent: 1em;
  margin-block: 0;
}

h2 {
  break-before: page;
  font-size: 40q;
  line-height: 54Q;
}